body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

ul {
  width: 300px;
  margin: 30px auto;
  border: 5px solid black;
  padding: 0;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}

li {
  float: left;
  width: 100px;
  height: 100px;
  list-style: none;
  border: 5px solid black;
  box-sizing: border-box;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 75px;
  cursor: pointer;
}

li:hover {
  background: yellow;
}

.white {
  background-color: white;
}

.x:after {
  content: 'x';
}

.x, .o {
  cursor: default;
}

.x:hover, .o:hover {
  background: white;
}

.o:after {
  content: 'o';
}

.winner, .winner:hover {
  color: white;
  background-color: green;
}

.loser {
  color: red;
}
